<div [ngClass]="{'active-task-card-event' : !task.isCompleted, 'completed-task-card-event' : task.isCompleted}" class="task-card-event mdl-card mdl-shadow--2dp" >
  <div class="mdl-card__title mdl-card--expand">
    <h4>
      {{task.description}}
    </h4>
  </div>
  <div class="mdl-card__actions mdl-card--border" style="padding-left: 30px">
    {{task.timestamp.getMonth()}}/{{task.timestamp.getDate()}}/{{task.timestamp.getFullYear()}}
    <div class="mdl-layout-spacer"></div>
    <i (click)="delete()" class="material-icons mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="padding-top: 10px">close</i>
  </div>
</div>
