@font-face {
  font-family: 'Port Lligat Sans';
  src: url(assets/PortLligatSans-Regular.ttf) format("opentype");
}

* {
  font-family: 'Port Lligat Sans', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdl-navigation__link {
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
  color: azure;
}

a:hover {
  opacity: 0.75;
}

.button, button {
  padding: 10px 18px;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-color: #1089F5;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.75;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.navButton:hover {
  opacity: 0.75;
}

.task-title {
  color: white;
}

.task-card {
  margin: 10px;
  font-size: 13pt;
}

.task-header-button {
  font-size: 16pt;
  padding: 20px;
}

.task-text-primary {
  color: #353535;
  font-weight: bold;
  text-decoration: none;
}

.task-text-secondary {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.task-button {
  padding-top: 10px;
}

.task-button-primary-colored {
  color: #0072BB;
  font-weight: bold;
}


.task-button-primary {
  /*color: #0072BB;*/
  color: #000000;
  font-weight: bold;
}

.task-button-secondary {
  color: #FFD034;
}

.active-task-card-event.mdl-card {
  background: #FFD034;
}

.completed-task-card-event.mdl-card {
  background: #0072BB;
}

.task-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.task-card-event > .mdl-card__title {
  align-items: flex-start;
}
.task-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.task-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.task-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
