a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
  color: azure;
}

a:hover {
  opacity: 0.75;
}

.button, button {
  padding: 10px 18px;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-color: #673AB7;
  color: white;
  border: none;
}

.

.button:hover, button:hover {
  opacity: 0.75;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.navButton:hover {
  opacity: 0.75;
}

.task-card {
  margin: 10px;
  font-size: 13pt
}

.active-task-card-event.mdl-card {
  background: #3E4EB8;
}

.completed-task-card-event {
  background: rgba(51, 46, 47, 0.55);
}

.task-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.task-card-event > .mdl-card__title {
  align-items: flex-start;
}
.task-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.task-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.task-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.task-card-event > .mdl-card__title,
.task-card-event > .mdl-card__actions,
.task-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
