<div class="mdl-grid" style="padding-left: 5%;">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <form [formGroup]="formGroup" style="margin-bottom: 5px;" (ngSubmit)="onSubmit()">
      <span>
        <input
          formControlName="description"
          class="task-list__description mdl-textfield__input"
          type="text"
          placeholder="Add New Task..."
        />
      </span>
    </form>
  </div>
  <div class="mdl-cell mdl-cell--2-col mdl-layout--large-screen-only"></div>
  <div *ngFor="let task of tasks">
    <div class="mdl-cell mdl-cell--2-col mdl-layout--large-screen-only"></div>
    <div class="mdl-cell mdl-cell--8-col">
      <app-task-card [task]="task" (refreshTasks)="loadActiveTasks()"></app-task-card>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-layout--large-screen-only"></div>
  </div>
  <div *ngIf="loading" class="task-list__loading-spinner">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>

</div>
